<app-header></app-header>
<main class="grid grid-cols-auto-fill p-2 gap-1">
  <div class="component-box">
    <div class="component-box__header">
      <h3 class="mr-auto">Dialog</h3>
      <span> ? </span>
    </div>
    <div class="component-box__content">
      <button class="rounded p-2 text-white bg-amber-300 w-28">Open</button>
    </div>
  </div>
  <div class="component-box">
    <div class="component-box__header">
      <h3 class="mr-auto">Form</h3>
      <span> ? </span>
    </div>
    <div class="component-box__content">
      <div class="h-16 w-full bg-stone-100 rounded"></div>
      <button class="rounded p-2 text-white bg-amber-300 w-28">Open</button>
    </div>
  </div>
  <div class="component-box">
    <div class="component-box__header">
      <h3 class="mr-auto">Toast</h3>
      <span> ? </span>
    </div>
    <div class="component-box__content">
      <div class="h-16 w-full bg-stone-100 rounded"></div>
      <button class="rounded p-2 text-white bg-amber-300 w-28">Open</button>
    </div>
  </div>
  <div class="component-box">
    <div class="component-box__header">
      <h3 class="mr-auto">Stepper</h3>
      <span> ? </span>
    </div>
    <div class="component-box__content">
      <div class="h-16 w-full bg-stone-100 rounded"></div>
      <button class="rounded p-2 text-white bg-amber-300 w-28">Open</button>
    </div>
  </div>
  <div class="component-box col-span-4">
    <div class="component-box__header">
      <h3 class="mr-auto">Utils</h3>
      <span> ? </span>
    </div>
    <div class="component-box__content">
      <div class="h-16 w-full bg-stone-100 rounded"></div>
      <button class="rounded p-2 text-white bg-amber-300 w-28">Open</button>
    </div>
  </div>
</main>
<footer
  class="flex p-2 fixed bottom-0 items-center justify-center w-full text-teal-950 text-opacity-40"
>
  With ❤️ from Mukhuve, LLC &copy; 2023
</footer>
