<header>
  <h1>@mukhuve/ngx - Demo 🤖</h1>
</header>
<main>
  <section class="library">
    <h3 class="library__title">Dialog</h3>
    <div class="library__controls">
      <label>
        config.type:
        <label>
          <input
            type="radio"
            name="type"
            value="shy"
            [(ngModel)]="dialogConfig.type"
          />
          shy
        </label>
        <label>
          <input
            type="radio"
            name="type"
            value="push"
            [(ngModel)]="dialogConfig.type"
          />
          push
        </label>
        <label>
          <input
            type="radio"
            name="type"
            value="window"
            [(ngModel)]="dialogConfig.type"
          />
          window
        </label>
      </label>
      <label>
        <span> config.classes: </span>
        <input type="text" [(ngModel)]="dialogConfig.classes" />
      </label>
      <label>
        <span> config.inputs.text: </span>
        <input type="text" [(ngModel)]="text" />
      </label>
      <button (click)="open()">Open</button>
    </div>
  </section>
  <section class="library">
    <h3 class="library__title">Stepper</h3>
    <div class="library__controls">
      <mkv-stepper>
        <cdk-step> Step 1 </cdk-step>
        <cdk-step> Step 2 </cdk-step>
      </mkv-stepper>
      <!-- TODO: QUITAR NPM LINK Y USAR LA LIBRERIA DIRECTAMENTE (ESTUPIDO) -->
    </div>
  </section>
</main>
<footer></footer>
