<a
  class="flex flex-col gap-1 col-span-2"
  href="https://github.com/mukhuve/ngx"
  target="_blank"
>
  <!-- <h2 class="text-bold text-3xl flex items-center">MVUI</h2> -->
  <h2
    class="text-bold text-3xl flex items-center font-extralight text-stone-500"
  >
    <span class="font-medium text-neutral">Mukhuve</span>
    <span class="text-amber-300 font-medium">/</span>
    <span>ngx</span>
  </h2>
  <small class="text-stone-500">
    Simple Angular Components & Utility Library
  </small>
</a>
<div class="flex items-end justify-end">
  <small class="flex items-center gap-1 text-stone-500">
    <svg class="w-4 h-4 d fill-stone-500" viewBox="0 0 24 24">
      <use xlink:href="assets/images/icons.svg#github"></use>
    </svg>
    <!-- mukhuve/ngx -->
  </small>
</div>
