:host {
  animation-fill-mode: forwards;
  animation-duration: var(--dialog-animation-duration, 180ms);

  @apply flex flex-col items-stretch justify-start bg-white shadow-xl
         w-svw h-svh min-w-[100svw] min-h-[100svh] max-w-[100svw] max-h-[100svh]
         sm:w-fit sm:h-fit sm:min-w-[unset] sm:min-h-[unset];

  &.no-animate {
    animation-name: none !important;
  }
}

:host[type="window"] {
  animation-name: fadeInUpBig;

  &.closing {
    animation-name: fadeOutDownBig;
  }
}

:host[type="shy"] {
  @apply h-svh;

  animation-name: fadeInRight;
  &.closing {
    animation-name: fadeOutRight;
  }
}

:host[type="push"],
:host[type="fullscreen"] {
  min-width: 100svw;
  min-height: 100svh;

  animation-name: zoomIn;
  &.closing {
    animation-name: zoomOut;
  }
}

@media (max-width: 640px) {
  :host[type] {
    animation-name: zoomIn;
    &.closing {
      animation-name: zoomOut;
    }
  }
}
