:host {
  @apply flex flex-row items-stretch justify-start bg-white;
  animation-fill-mode: forwards;
  animation-duration: var(--dialog-animation-duration, 180ms);
  max-width: 100svw;
  max-height: 100svh;

  &.no-animate {
    animation-name: none !important;
  }

  @media (max-width: 500px) {
    &.responsive {
      min-width: 100svw !important;
      min-height: 100svh !important;
      animation-name: zoomIn !important;
      border-radius: 0 !important;
      &.closing {
        animation-name: zoomOut !important;
      }
    }
  }
}

:host[type="window"] {
  animation-name: fadeInUpBig;
  border-radius: 9px;
  min-width: 80svw;
  min-height: 70svh;
  overflow: hidden;
  &.closing {
    animation-name: fadeOutDownBig;
  }
}

:host[type="shy"] {
  min-width: 42svw;
  min-height: 100svh;
  max-width: 63svw;
  height: 100svh;
  width: auto;
  border-radius: 9px 0 0 9px;
  box-shadow: 0 0 6rem -4rem black;
  animation-name: fadeInRight;
  &.closing {
    animation-name: fadeOutRight;
  }
}

:host[type="push"],
:host[type="fullscreen"] {
  min-width: 100svw;
  min-height: 100svh;
  border-radius: 0 !important;
  animation-name: zoomIn;
  &.closing {
    animation-name: zoomOut;
  }
}
