@import "@angular/cdk/overlay-prebuilt.css";

// DIALOG

// .mkv-dialog-panel {
// }

.mkv-dialog-backdrop {
  background-color: #33333366;
  backdrop-filter: blur(9px);
}

.mkv-dialog-content {
  width: 100%;
  height: 100%;
}
