@import "@angular/cdk/overlay-prebuilt.css";

// .mukhuve-dialog-panel {
// }

.mukhuve-dialog-backdrop {
  background-color: #33333366;
  backdrop-filter: blur(9px);
}

.mkh-dialog-content {
  width: 100%;
  height: 100%;
}
